.clients-list {
    display: flex;
    gap: 30px;
}

.clients-item {
    width: 170px;
    height: 92px;
}

.clients-soc-link {
    width: 100%;
    height: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 250ms var(--timing-function);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }
}

.clients-soc-icon {
    fill: #afb1b8;
    transition: fill 250ms var(--timing-function);

    .clients-soc-link:hover &,
    .clients-soc-link:focus & {
        fill: var(--accent-color);
    }
}