.overlay {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--border-bg-color);
    text-align: center;
}

.hero-title {
    margin: 0 auto 30px;
    @include font(900, 44, 60, 00.06em);
  
    text-transform: uppercase;
    max-width: 696px;
    color: var(--main-light-color);
}

.hero-button {
    @include font(700, 16, 30, 00.06em);

    padding: 10px 32px;
    min-width: 216px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--main-light-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--secondary-accent-color);
    }
}